li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Dancing Script;
    font-size: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 0;
    gap: 5px;
}